- if @application_form.errors.any?
  #error_explanation
    %h2
      = pluralize(@application_form.errors.count, "error")
      prohibited this user from being saved:
    %p There were problems with the following fields:
    %ul
    - @application_form.errors.full_messages.each do |message|
      %li= message

= nested_form_for [@user, @entity, @application_form] do |f|
  = f.hidden_field :form_type
  %div{ :class => @application_form.form_type == 'SIGNUP' ? 'show' : 'hide' }
    = f.fields_for :contact_person do |contact_person|
      %h3 Contact person
      .field.left
        = contact_person.label :name, 'Name'
        = contact_person.text_field :name
      %br
      .field.left
        = contact_person.label :email, 'Email address'
        = contact_person.text_field :email
      .field.right
        = contact_person.label :business_phone, 'Business phone'
        = contact_person.text_field :business_phone
      .field.left
        = contact_person.label :mobile_phone, 'Mobile phone'
        = contact_person.text_field :mobile_phone
      .field.right
        = contact_person.label :toll_free_phone, 'Toll-free phone'
        = contact_person.text_field :toll_free_phone
      .field.left
        = contact_person.label :facsimile, 'Facsimile'
        = contact_person.text_field :facsimile
      .field.right
        = contact_person.label :home_phone, 'Home phone'
        = contact_person.text_field :home_phone
    
    = f.fields_for :accountant do |accountant|
      %h3 Accountant Details
      .field.left
        = accountant.label :name, 'Name'
        = accountant.text_field :name
      .field.right
        = accountant.label :address_1, 'Street'
        = accountant.text_field :address_1
      .field.left
        = accountant.label :address_2, 'City'
        = accountant.text_field :address_2
      .field.right
        = accountant.label :partner, 'Postcode'
        = accountant.text_field :partner
      .field.left
        = accountant.label :phone, 'Phone'
        = accountant.text_field :phone
      .field.right
        = accountant.label :email, 'Email'
        = accountant.text_field :email

    = f.fields_for :addresses, @application_form.physical do |physical|
      %h3 Physical Address
      = physical.hidden_field :address_type
      .field.left
        = physical.label :address_1, 'Street'
        = physical.text_field :address_1
      .field.right
        = physical.label :address_2, 'Suburb'
        = physical.text_field :address_2
      .field.left
        = physical.label :address_3, 'City'
        = physical.text_field :address_3
      .field.right
        = physical.label :postcode, 'Postcode'
        = physical.text_field :postcode

    = f.fields_for :addresses, @application_form.postal do |postal|
      %h3 Postal Address
      = postal.hidden_field :address_type
      .field.checker_selector
        = check_box_tag 'same-address'
        = label_tag 'same-address', 'Same as physical address'
      .field.left
        = postal.label :address_1, 'Street'
        = postal.text_field :address_1
      .field.right
        = postal.label :address_2, 'Suburb'
        = postal.text_field :address_2
      .field.left
        = postal.label :address_3, 'City'
        = postal.text_field :address_3
      .field.right
        = postal.label :postcode, 'Postcode'
        = postal.text_field :postcode
  
  #bank_accounts.fields
    %h3 Bank accounts
    = f.fields_for :bank_accounts,  do |bank_account_fields|
      .field.left
        = bank_account_fields.label :name, 'Name of account'
        = bank_account_fields.text_field :name
      .field.right
        = bank_account_fields.label :bank, 'Account number'
        = bank_account_fields.text_field :bank, :class => 'bank'
        = bank_account_fields.text_field :branch, :class => 'branch'
        = bank_account_fields.text_field :account, :class => 'account'
        = bank_account_fields.text_field :suffix, :class => 'suffix'
      .field.left
        = bank_account_fields.label :number_of_transactions, 'On average how many transactions per month?'
        = bank_account_fields.hidden_field :number_of_transactions
        .number_of_transactions_slider_text
        .number_of_transactions_slider
      .field.right.needs_cheques
        = bank_account_fields.check_box :needs_cheques
        = bank_account_fields.label :needs_cheques, 'Does this account need encoded cheques?'
      .action.right
        = bank_account_fields.link_to_remove "Remove this account"
      %br
    .action#add_account
      = f.link_to_add "+ Add another account", :bank_accounts
      
  #credit_cards.fields
    %h3 Credit cards
    = f.fields_for :credit_cards,  do |credit_card_fields|
      .field.left
        = credit_card_fields.label :name, 'Name on card'
        = credit_card_fields.text_field :name
      .field.right.credit_card_fields
        = credit_card_fields.label :account_1, 'Card number'
        = credit_card_fields.text_field :account_1
        = credit_card_fields.text_field :account_2
        = credit_card_fields.text_field :account_3
        = credit_card_fields.text_field :account_4
      .field.left
        = credit_card_fields.label :number_of_transactions, 'On average how many transactions per month?'
        = credit_card_fields.hidden_field :number_of_transactions
        .number_of_transactions_slider_text
        .number_of_transactions_slider
      .action.right
        = credit_card_fields.link_to_remove "Remove this credit card"
      %br
    .action#add_account
      = f.link_to_add "+ Add another credit card", :credit_cards
    
  %br

  = f.fields_for :bartercard do |bartercard|
    %h3 Bartercard Members
    .field.checker_selector
      = check_box_tag 'bartercard-member', "1", !@application_form.bartercard.name.blank? || !@application_form.bartercard.account_1.blank?
      = label_tag 'bartercard-member', 'I am a Bartercard member'
    #bartercard_fields
      .field.left
        = bartercard.label :name, 'Name on Bartercard account'
        = bartercard.text_field :name
      .field.right.credit_card_fields
        = bartercard.label :account_1, 'Bartercard account number'
        = bartercard.text_field :account_1
        = bartercard.text_field :account_2
        = bartercard.text_field :account_3
        = bartercard.text_field :account_4
      .field.left
        = bartercard.label :number_of_transactions, 'On average how many transactions per month?'
      .field.right.bartercard_transactions
        = bartercard.hidden_field :number_of_transactions
        .number_of_transactions_slider_text
        .number_of_transactions_slider
      %br
  .action
    = submit_tag button_text