= link_to 'Back to form', edit_application_form_path(:id => current_user.application_form)

%h3 One-off cost
%table
  %tr
    %td
      Connection Fees
    %td
      = "#{pluralize @application_form.bank_accounts.count, 'account'} x $20"
    %td
      = "$#{20 * @application_form.bank_accounts.count}"
  %tr
    %td
      Set Up & Training
    %td
      Hours 4 x $140
    %td
      $560
  %tr
    %td
      Historical Data Entry
    %td
      _ x _
    %td
      $_
  %tr
    %td
      Travel
    %td
      Rental Car and Accommodation
    %td
      $150
  %tr
    %td
      Estimate (Invoice based on actual time)
    %td
    %td
      $770
      
%h3 Recurring cost
%p $43.00 ex GST      
      
= form_tag third_step_path do
  %h2 Choose account to debit
  .field
    - options = @application_form.bank_accounts.collect {|a| [ "#{a.name} / #{a.bank}-#{a.branch}-#{a.account}-#{a.suffix}", a.id ] }
    - options += [["Bartercard Account / #{@application_form.bartercard_account[0..3]}-#{@application_form.bartercard_account[4..7]}-#{@application_form.bartercard_account[8..11]}-#{@application_form.bartercard_account[12..15]}", 'bartercard']] unless @application_form.bartercard_account.blank?
    = select("bank_account", "pays_subscription", options, { :include_blank => true })
  .action
    = submit_tag 'Continue'