<% if @application_form.entity.country == 'NEW_ZEALAND' %>
  <div id='new-zealand'>
    <%= image_tag 'pages/one.jpg' %>
    <div id="page-two">
      <%= image_tag 'pages/two.jpg' %>
      <p class="field" id="legal-name"><%= @application_form.entity.legal_name %></p>
      <p class="field" id="trading-name"><%= @application_form.entity.trading_name %></p>
      <p class="field" id="contact-name"><%= @application_form.contact_person.name %></p>
      <p class="field" id="physical-address-1"><%= @application_form.physical.address_1 %></p>
      <p class="field" id="physical-address-2"><%= @application_form.physical.address_2 %></p>
      <p class="field" id="physical-address-3"><%= @application_form.physical.address_3 %></p>
      <p class="field" id="physical-postcode"><%= @application_form.physical.postcode %></p>
      <p class="field" id="postal-address-1"><%= @application_form.postal.address_1 %></p>
      <p class="field" id="postal-address-2"><%= @application_form.postal.address_2 %></p>
      <p class="field" id="postal-address-3"><%= @application_form.postal.address_3 %></p>
      <p class="field" id="postal-postcode"><%= @application_form.physical.postcode %></p>
      <p class="field" id="industry"><%= @application_form.entity.industry %></p>
      <p class="field" id="contact-business"><%= @application_form.contact_person.business_phone %></p>
      <p class="field" id="contact-toll-free"><%= @application_form.contact_person.toll_free_phone %></p>
      <p class="field" id="contact-facsimile"><%= @application_form.contact_person.facsimile %></p>
      <p class="field" id="contact-home"><%= @application_form.contact_person.home_phone %></p>
      <p class="field" id="contact-mobile"><%= @application_form.contact_person.mobile_phone %></p>
      <p class="field" id="contact-email"><%= @application_form.contact_person.email %></p>
      <% @application_form.bank_accounts.each_with_index do |account, i| %>
        <p class="field" id="bank-account-<%= i+1 %>-bank"><span><%= account.account[0] %></span><span><%= account.account[1] %></span></p>
        <p class="field" id="bank-account-<%= i+1 %>-branch"><span><%= account.account[2] %></span><span><%= account.account[3] %></span><span><%= account.account[4] %></span><span><%= account.account[5] %></span></p>
        <p class="field" id="bank-account-<%= i+1 %>-account"><span><%= account.account[6] %></span><span><%= account.account[7] %></span><span><%= account.account[8] %></span><span><%= account.account[9] %></span><span><%= account.account[10] %></span><span><%= account.account[11] %></span><span><%= account.account[12] %></span></p>
        <p class="field" id="bank-account-<%= i+1 %>-suffix"><span><%= account.account[13] %></span><span><%= account.account[14] %></span><span><%= account.account[15] %></span></p>
      <% end %>
      <p class="field" id="gst-number-1"><span><%= @application_form.entity.gst_number[0] %></span><span><%= @application_form.entity.gst_number[1] %></span><span><%= @application_form.entity.gst_number[2] %></span></p>
      <p class="field" id="gst-number-2"><span><%= @application_form.entity.gst_number[3] %></span><span><%= @application_form.entity.gst_number[4] %></span><span><%= @application_form.entity.gst_number[5] %></span></p>
      <p class="field" id="gst-number-3"><span><%= @application_form.entity.gst_number[6] %></span><span><%= @application_form.entity.gst_number[7] %></span><span><%= @application_form.entity.gst_number[8] %></span></p>
      <p class="field" id="accountant-name"><%= @application_form.accountant.name %></p>
      <p class="field" id="accountant-address-1"><%= @application_form.accountant.address_1 %></p>
      <p class="field" id="accountant-address-2"><%= @application_form.accountant.address_2 %></p>
      <p class="field" id="accountant-partner"><%= @application_form.accountant.partner %></p>
      <p class="field" id="accountant-phone"><%= @application_form.accountant.phone %></p>
      <p class="field" id="accountant-email"><%= @application_form.accountant.email %></p>
    </div>
    <div id="page-three">
      <%= image_tag 'pages/three.jpg' %>
      <p class="field" id="date"><%= Time.now.strftime('%d / %m / %y') %></p>
      <p class="field" id="name"><%= @application_form.contact_person.name %></p>
      <p class="field" id="address-1"><%= @application_form.postal.address_1 %></p>
      <p class="field" id="address-2"><%= @application_form.postal.address_2 %></p>
      <p class="field" id="address-3"><%= @application_form.postal.address_3 %></p>
      <p class="field" id="subscription-ex-gst"><%= @application_form.monthly_fee %></p>
      <p class="field" id="subscription-in-gst"><%= (@application_form.monthly_fee * 1.15).round(2) %></p>
      <p class="field" id="number-of-accounts"><%= @application_form.number_of_accounts %></p>
      <p class="field" id="connection-fee"><%= @application_form.connection_fees %></p>
      <p class="field" id="training-hours"><%= @application_form.set_up_hours %></p>
      <p class="field" id="training-cost"><%= @application_form.set_up_rate %></p>
      <p class="field" id="training-total"><%= @application_form.set_up_total %></p>
      <p class="field" id="data-entry-hours"><%= @application_form.data_entry_hours %></p>
      <p class="field" id="data-entry-cost"><%= @application_form.data_entry_rate %></p>
      <p class="field" id="data-entry-total"><%= @application_form.data_entry_total %></p>
      <p class="field" id="travel-total"><%= @application_form.travel_cost %></p>
      <p class="field" id="estimate-total"><%= @application_form.total_cost %></p>
    </div>
    <% @application_form.sorted_bank_accounts.each do |bank, accounts| %>
      <div id="page-four">
        <%= image_tag 'pages/four.jpg' %>
        <% accounts.each_with_index do |account, i| %>
          <p class="field" id="bank-account-<%= i+1 %>-name"><%= account.name %></p>
          <p class="field" id="bank-account-<%= i+1 %>"><%= account.account %></p>
        <% end %>
        <p class="field" id="bank-branch-name">Bank and Branch</p>
        <p class="field" id="start-date-day"><%= Time.now.day %></p>
        <p class="field" id="start-date-month"><%= Time.now.strftime('%B') %></p>
        <p class="field" id="start-date-year"><%= Time.now.strftime('%y') %></p>
        <p class="field" id="date-day"><%= Time.now.day %></p>
        <p class="field" id="date-month"><%= Time.now.strftime('%B') %></p>
        <p class="field" id="date-year"><%= Time.now.strftime('%y') %></p>
        <p class="field" id="name"><%= @application_form.contact_person.name %></p>
      </div>
    <% end %>
    <% @application_form.bank_accounts.each do |a| %>
      <% if a.needs_cheques %>
        <div id="page-five">
          <%= image_tag 'pages/five.jpg' %>
          <p class="field" id="date-day"><%= Time.now.day %></p>
          <p class="field" id="date-month"><%= Time.now.month %></p>
          <p class="field" id="date-year"><%= Time.now.year %></p>
          <p class="field" id="name"><%= @application_form.contact_person.name %></p>
          <p class="field" id="address-1"><%= @application_form.postal.address_1 %></p>
          <p class="field" id="address-2"><%= @application_form.postal.address_2 %></p>
          <p class="field" id="address-3"><%= @application_form.postal.address_3 %></p>
          <p class="field" id="bank-account-bank"><span><%= a.account[0] %></span><span><%= a.account[1] %></span></p>
          <p class="field" id="bank-account-branch"><span><%= a.account[2] %></span><span><%= a.account[3] %></span><span><%= a.account[4] %></span><span><%= a.account[5] %></span></p>
          <p class="field" id="bank-account-account"><span><%= a.account[6] %></span><span><%= a.account[7] %></span><span><%= a.account[8] %></span><span><%= a.account[9] %></span><span><%= a.account[10] %></span><span><%= a.account[11] %></span><span><%= a.account[12] %></span></p>
          <p class="field" id="bank-account-suffix"><span><%= a.account[13] %></span><span><%= a.account[14] %></span><span><%= a.account[15] %></span></p>
        </div>
      <% end %>
    <% end %>
    <% @application_form.bank_accounts.each do |a| %>
      <% if a.id == @entity.paying_account %>
        <div id="page-six">
          <%= image_tag 'pages/six.jpg' %>
          <p class="field" id="bank-account-name"><%= a.name %></p>
          <p class="field" id="bank-account-bank"><span><%= a.account[0] %></span><span><%= a.account[1] %></span></p>
          <p class="field" id="bank-account-branch"><span><%= a.account[2] %></span><span><%= a.account[3] %></span><span><%= a.account[4] %></span><span><%= a.account[5] %></span></p>
          <p class="field" id="bank-account-account"><span><%= a.account[6] %></span><span><%= a.account[7] %></span><span><%= a.account[8] %></span><span><%= a.account[9] %></span><span><%= a.account[10] %></span><span><%= a.account[11] %></span><span><%= a.account[12] %></span></p>
          <p class="field" id="bank-account-suffix"><span><%= a.account[13] %></span><span><%= a.account[14] %></span><span><%= a.account[15] %></span></p>
          <p class="field" id="date-day"><%= Time.now.day %></p>
          <p class="field" id="date-month"><%= Time.now.month %></p>
          <p class="field" id="date-year"><%= Time.now.strftime('%y') %></p>
        </div>
      <% end %>
    <% end %>
    <% unless @application_form.bank_accounts.select{|account| account.pays_subscription == TRUE}.count > 0 %>
      <% unless @application_form.bartercard.account.blank? %>
        <div id="page-seven">
          <%= image_tag 'pages/seven.jpg' %>
          <p class="field" id="bartercard-name"><%= @application_form.bartercard.name %></p>
          <p class="field" id="bartercard-account-start"><span><%= @application_form.bartercard.account[8] %></span><span><%= @application_form.bartercard.account[9] %></span><span><%= @application_form.bartercard.account[10] %></span><span><%= @application_form.bartercard.account[11] %></span></p>
          <p class="field" id="bartercard-account-end"><span><%= @application_form.bartercard.account[12] %></span><span><%= @application_form.bartercard.account[13] %></span><span><%= @application_form.bartercard.account[14] %></span><span><%= @application_form.bartercard.account[15] %></span></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<% if @application_form.entity.country == 'AUSTRALIA' %>
  <div id='australia'>
    <%= image_tag 'pages/au/one.jpg' %>
    <div id="page-two">
      <%= image_tag 'pages/au/two.jpg' %>
      <p class="field" id="legal-name"><%= @application_form.entity.legal_name %></p>
      <p class="field" id="trading-name"><%= @application_form.entity.trading_name %></p>
      <p class="field" id="contact-name"><%= @application_form.contact_person.name %></p>
      <p class="field" id="physical-address-1"><%= @application_form.physical.address_1 %></p>
      <p class="field" id="physical-address-2"><%= @application_form.physical.address_2 %></p>
      <p class="field" id="physical-address-3"><%= @application_form.physical.address_3 %></p>
      <p class="field" id="physical-postcode"><%= @application_form.physical.postcode %></p>
      <p class="field" id="postal-address-1"><%= @application_form.postal.address_1 %></p>
      <p class="field" id="postal-address-2"><%= @application_form.postal.address_2 %></p>
      <p class="field" id="postal-address-3"><%= @application_form.postal.address_3 %></p>
      <p class="field" id="postal-postcode"><%= @application_form.physical.postcode %></p>
      <p class="field" id="industry"><%= @application_form.entity.industry %></p>
      <p class="field" id="contact-business"><%= @application_form.contact_person.business_phone %></p>
      <p class="field" id="contact-toll-free"><%= @application_form.contact_person.toll_free_phone %></p>
      <p class="field" id="contact-facsimile"><%= @application_form.contact_person.facsimile %></p>
      <p class="field" id="contact-home"><%= @application_form.contact_person.home_phone %></p>
      <p class="field" id="contact-mobile"><%= @application_form.contact_person.mobile_phone %></p>
      <p class="field" id="contact-email"><%= @application_form.contact_person.email %></p>
      <% @application_form.bank_accounts.each_with_index do |account, i| %>
        <p class="field" id="bank-account-<%= i+1 %>-bank"><%= account.bank %></p>
        <p class="field" id="bank-account-<%= i+1 %>-branch"><%= account.branch %></p>
        <p class="field" id="bank-account-<%= i+1 %>-account"><%= account.account %></p>
        <p class="field" id="bank-account-<%= i+1 %>-suffix"><%= account.suffix %></p>
      <% end %>
      <p class="field" id="abn-number"><%= @application_form.entity.abn_number %></p>
      <p class="field" id="accountant-name"><%= @application_form.accountant.name %></p>
      <p class="field" id="accountant-address-1"><%= @application_form.accountant.address_1 %></p>
      <p class="field" id="accountant-address-2"><%= @application_form.accountant.address_2 %></p>
      <p class="field" id="accountant-partner"><%= @application_form.accountant.partner %></p>
      <p class="field" id="accountant-phone"><%= @application_form.accountant.phone %></p>
      <p class="field" id="accountant-email"><%= @application_form.accountant.email %></p>
    </div>
    <div id="page-three">
      <%= image_tag 'pages/au/three.jpg' %>
      <p class="field" id="date"><%= Time.now.strftime('%d / %m / %y') %></p>
      <p class="field" id="name"><%= @application_form.contact_person.name %></p>
      <p class="field" id="address-1"><%= @application_form.postal.address_1 %></p>
      <p class="field" id="address-2"><%= @application_form.postal.address_2 %></p>
      <p class="field" id="address-3"><%= @application_form.postal.address_3 %></p>
      <p class="field" id="subscription-ex-gst"><%= @application_form.monthly_fee %></p>
      <p class="field" id="subscription-in-gst"><%= (@application_form.monthly_fee * 1.15).round(2) %></p>
      <p class="field" id="number-of-accounts"><%= @application_form.number_of_accounts %></p>
      <p class="field" id="connection-fee"><%= @application_form.connection_fees %></p>
      <p class="field" id="training-hours"><%= @application_form.set_up_hours %></p>
      <p class="field" id="training-cost"><%= @application_form.set_up_rate %></p>
      <p class="field" id="training-total"><%= @application_form.set_up_total %></p>
      <p class="field" id="data-entry-hours"><%= @application_form.data_entry_hours %></p>
      <p class="field" id="data-entry-cost"><%= @application_form.data_entry_rate %></p>
      <p class="field" id="data-entry-total"><%= @application_form.data_entry_total %></p>
      <p class="field" id="travel-total"><%= @application_form.travel_cost %></p>
      <p class="field" id="estimate-total"><%= @application_form.total_cost %></p>
    </div>
    <div id="page-four">
      <%= image_tag 'pages/au/four.jpg' %>
      <% @application_form.bank_accounts.each_with_index do |account, i = 1| %>
        <p class="field" id="bank-account-<%= i+1 %>-name"><%= account.name %></p>
        <p class="field" id="bank-account-<%= i+1 %>"><%= account.account[0..5] %></p>
        <p class="field" id="bank-account-<%= i+1 %>-2"><%= account.account[5..15] %></p>
      <% end %>
      <p class="field" id="bank-branch-name">Bank and Branch</p>
      <p class="field" id="start-date-month"><%= Time.now.strftime('%B') %></p>
      <p class="field" id="start-date-year"><%= Time.now.strftime('%y') %></p>
      <p class="field" id="date-day"><%= Time.now.day %></p>
      <p class="field" id="date-month"><%= Time.now.strftime('%B') %></p>
      <p class="field" id="date-year"><%= Time.now.strftime('%y') %></p>
    </div>
    <% if @entity.paying_account == -1 %>
      <div id="page-five">
        <%= image_tag 'pages/au/five.jpg' %>
        <p class="field" id="bartercard-name"><%= @application_form.bartercard.name %></p>
        <p class="field" id="bartercard-account-start"><span><%= @application_form.bartercard.account[8] %></span><span><%= @application_form.bartercard.account[9] %></span><span><%= @application_form.bartercard.account[10] %></span><span><%= @application_form.bartercard.account[11] %></span></p>
        <p class="field" id="bartercard-account-end"><span><%= @application_form.bartercard.account[12] %></span><span><%= @application_form.bartercard.account[13] %></span><span><%= @application_form.bartercard.account[14] %></span><span><%= @application_form.bartercard.account[15] %></span></p>
      </div>
    <% end %>
  </div>
<% end %>