= form_for [@user, @entity] do |f|
  #business.fields
    .field.left
      = f.label :legal_name, 'Legal Name'
      = f.text_field :legal_name
    .field.right
      = f.label :trading_name, 'Trading Name'
      = f.text_field :trading_name
    .field.left
      = f.label :industry, 'Industry'
      = f.text_field :industry
    .field.right.gst_number
      = f.label :gst_number_1, 'GST Number'
      = f.text_field :gst_number_1
      = f.text_field :gst_number_2
      = f.text_field :gst_number_3
  .action
    = f.submit