<!DOCTYPE html>
<html>
<head>
  <title>AccountsOnline</title>
  <%= stylesheet_link_tag :all %>
  <%= wicked_pdf_stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
