<!DOCTYPE html>
<html>
<head>
  <title>Accounts Online</title>
  <%= stylesheet_link_tag 'style', 'uniform.default', :media => :screen %>
  <%= stylesheet_link_tag 'print', :media => :print %>
  <%= javascript_include_tag 'jquery', 'rails', 'nested_form', 'uniform.min', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="header"></div>
	
	<div id="mainmenu">
	  <p><a title="" href="http://www.accountsonline.co.nz/Site/default.aspx">HOME</a></p>
	  <p><a title="" href="http://www.accountsonline.co.nz/Site/Overview_of_Accounts_Online/default.aspx">ABOUT US</a> </p>
	  <p><a title="Accounts Online Specialists" href="http://www.accountsonline.co.nz/Site/NZ/Team/Accounts_Online_Team.aspx">TEAM</a></p>
  	<p><a title="" href="http://www.accountsonline.co.nz/Site/NZ/Support/default.aspx">TECHNICAL</a></p>
  	<p><a title="" href="http://www.accountsonline.co.nz/Site/FAQs/default.aspx">FAQs</a> </p>
  	<p><a title="What our customers are saying" href="http://www.accountsonline.co.nz/Site/NZ/Products/customer_comments.aspx">TESTIMONIALS</a></p>
  	<p><a title="" href="http://www.accountsonline.co.nz/Site/NZ/News.aspx">ARTICLES</a></p>
  	<p><a title="Accounts Online Smart Ideas" href="http://www.accountsonline.co.nz/Site/NZ/Newsletters.aspx">TIPS</a></p>
  	<p><a title="" href="http://www.accountsonline.co.nz/tools/email.aspx?SECT=Site">CONTACT</a> </p>
  	<p><a title="" href="http://www.accountsonline.co.nz/tools/search.aspx?SECT=Site">SEARCH</a></p>
  </div>
	
	<div id="content">
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>